#!/bin/bash

set -x

echo Certificate renewal started at: `date +%Y-%m-%d-%H-%M`

#Update certificates
sudo certbot renew --reuse-key

if ! [[ $(sudo find /etc/letsencrypt/live/{{server_host_name}}/privkey.pem -mmin -20 -print) ]]; then
  echo "No certificate was updated in last 20 minutes"
  exit 0
fi

#restart apache
sudo systemctl restart httpd

#backup old certificate
mv /opt/certificate/keystore.p12 /opt/certificate/keystore.p12_`date +%Y-%m-%d-%H-%M-%S`


#export new certificate
sudo openssl pkcs12 -export -in /etc/letsencrypt/live/{{server_host_name}}/fullchain.pem -inkey /etc/letsencrypt/live/{{server_host_name}}/privkey.pem -out /opt/certificate/keystore.p12 -name cash-reader-certificate -CAfile /etc/letsencrypt/live/{{server_host_name}}/chain.pem  -caname root -passout pass:

sudo chown ec2-user:ec2-user /opt/certificate/keystore.p12

#restart cashreader
sudo systemctl restart cashreader.service