spring.profiles.active=hidden
server.tomcat.max-threads=30
spring.main.banner-mode=off

#application should be configured for https port
server.port=8444
management.server.port=8889

#get rid of the irritating error message on Hibernate startup with Postgres
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
#spring.jpa.show-sql=true
spring.jpa.generate-ddl=true

spring.datasource.url=jdbc:postgresql://localhost:5432/cash_reader
spring.datasource.username=postgres
spring.datasource.password=postgres

spring.flyway.url=jdbc:postgresql://localhost:5432/cash_reader
spring.flyway.user=postgres
spring.flyway.password=postgres

#spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.hibernate.ddl-auto=validate

logging.level.app.cashreader.backend=debug

# HTTPS configuration

# The format used for the keystore. It could be set to JKS in case it is a JKS file
server.ssl.key-store-type=PKCS12
# The path to the keystore containing the certificate
server.ssl.key-store=file:/opt/certificate/keystore.p12
# The password used to generate the certificate. If no password, the property must still be here
server.ssl.key-store-password=
# The alias mapped to the certificate
server.ssl.key-alias=cash-reader-certificate


#Actuator, Health
management.endpoint.health.show-details=always


#makes API documentation be present in root
springdoc.swagger-ui.path=/
#json definition
springdoc.api-docs.path=/api-docs

#Spring syntax
logging.config=file:config/logback-spring.xml

#redeem
redeem.service.spreadsheet.id={{spreadsheet_id}}
redeem.service.export.enabled=true
redeem.service.export.endpoint.enabled={{redeem_service_export_endpoint_enabled}}
redeem.service.export.credentials.file=/data/cashreader/s3-sync/service-account.json
